@import '../app/adaptive/mixins.scss';


.in-stock {
   display: flex;
   align-items: center;
   border: 1px solid #b5b5b5;
   padding: 5px 16px;
   border-radius: 16px;
   color: black;
   font-size: 12px; 
}


.offers-list {
   display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 30px;
}


.item {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;

   &__image {
      cursor: pointer;
      width: 100%;
      height: 330px;
      display: flex;
      border: 2px solid #e1e1e1;
      justify-content: center;
      align-items: start;
      padding: 60px 20px;
      border-radius: 10px;
      position: relative;


      @apply hover:scale-105 transition-all
   }

   img {
      
      height: 130px;
   }

   &__info {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
   }



   &__title {
      overflow: hidden; 
      text-overflow: ellipsis; 
      font-family: 'Inter Medium';
      font-size: 14px;
      line-height: 1.75;
   }

   &__price {
      display: flex;
         justify-content: start;
         gap: 16px;
         color: #474B57;
         align-items: flex-end;
   }
       

}


// @include desktop {
// .offers-list {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       gap: 30px;
//    }


// }


// @include tablet {
// .offers-list {
//       display: grid;
//       grid-template-columns: repeat(1, 100%);
//       gap: 30px;
//    }
// }