@import '../app/adaptive/mixins.scss';


.in-stock {
   display: flex;
   align-items: center;
   border: 1px solid #b5b5b5;
   padding: 5px 16px;
   border-radius: 16px;
   color: black;
   font-size: 12px; 
}


.offers-list {
   width: 100%;
   display: grid;
   flex-wrap: wrap;
   gap: 30px;
   padding-bottom: 100px;
   
   @apply justify-center xl:grid-cols-[repeat(auto-fill,_230px)] lg:grid-cols-[repeat(auto-fill,_280px)] grid-cols-[repeat(auto-fill,_100%)]; 

}


.item {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   height: auto;

   &__image {
      cursor: pointer;
      width: 100%;
      display: flex;
      border: 2px solid #e1e1e1;
      justify-content: center;
      align-items: start;
      padding: 60px 20px;
      border-radius: 10px;
      position: relative;


      @apply hover:scale-105 transition-all
   }

   img {
      
      height: 130px;
   }

   &__info {
      max-width: 100%;
      display: grid;
      align-items: start;
      flex-direction: column;
      padding-top: 20px;
      height: 100%;
      gap: 30px;
      grid-template-rows: 50% 50%;
   }



   &__title {
      width: 100%;
      font-family: 'Inter Medium';
      font-size: 14px;
      line-height: 1.75;
      text-align: start;
   }

   &__price {
      display: flex;
         justify-content: start;
         gap: 16px;
         color: #474B57;
         align-items: flex-end;
   }
       

}




